*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-weight: 400;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3)),url("./images/bg.jpg") center no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section1 img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: .4rem dashed rgb(197, 34, 34);
    border-radius: 50%;
    background-color: rgb(218, 209, 209);
    padding: .2rem;
    margin-bottom: 1rem;

}

.section1 h1{
    background-color: rgb(216, 95, 162);
    transform: skewX(-10deg);
    font-size: 3rem;
    padding: 1rem 2rem;
    margin-bottom:2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.section1 h2{
    background-color: rgb(168, 37, 37);
    transform: skewX(-10deg);
    font-size: 1.8rem;
    padding: .8rem 1.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.section1 button{
    font-size: 1.5rem;
    padding: .8rem 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 800;
    cursor: pointer;
    border-radius: 2rem;
    color: rgb(248, 248, 248);
    background-color: rgba(230, 166, 198, 0.5);
    transition: all .5s;
}

.section1 button:hover{
    color: rgb(204, 54, 54);
    background-color: rgba(230, 166, 198, 0.5);
}

/* navbar */
.navbar{
    width: 100%;
    height: 5rem;
    background-color: rgb(228, 25, 25);
    box-shadow: .2rem .2rem .5rem #555;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar a{
    font-size: 1.5rem;
    color: #333;
    margin: 0 3rem;
    letter-spacing: .3rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    transition: all .3s;
}
.navbar a:hover{
    color: #fff;
}
.navbar a::before{
    content: "";
    width: 0;
    height: .2rem;
    background-color: rgb(226, 215, 215);
    position: absolute;
    left: -.9rem;
    bottom: -.4rem;
    transition: all .3s;
}
.navbar a:hover::before{
    width: 120%;
}

/* section2 */

.section2{
    width: 100%;
    height: 100%;
    padding: 10rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section2 h1{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #444;
    margin-bottom: 10rem;
    border-bottom: 2px solid #333;
    text-shadow: .2rem .2rem .5rem #888;
}
.progressbar-wrap{
    margin-bottom: 5rem;
}
.progress-bar{
    width: 40rem;
    height: 3rem;
    background-color: #999;
    margin: 2rem 0;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    position: relative;
}
.progress-bar p{
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.progress-bar > p > span{
     font-size: 1.8rem;
     font-weight: 900;
     padding: 0 .3rem;
     color: black;
}
.progress-percent{
    position: absolute;
    width: 90%;
    height: 100%;
    border-radius: inherit;
    background-color: rgb(221, 58, 121);
    z-index: 0;
}
.Services{
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: space-evenly;
    align-items: center;
}
.service{
    text-align: center;
    color: grey;
}
.service i{
    font-size: 6rem;
    margin-bottom: 2rem;
    text-shadow: .2rem .2rem .8rem #999;
}
.service h2{
    font-size: 2rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    background-color: #999;
    padding: .5rem 3rem;
    transform: skewX(-10deg);
    color: #333;
    box-shadow: .2rem .2rem .9rem #666;
}
.service:first-child,
.service:last-child{
    align-self: flex-start;
}

